html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 1500px;
    height: 685px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url("../img/background.png");
    background-size: cover;
    background-position: center center;
}

.wrapper {
    width: 100vw;
    height: 100vh;
}

.circle-container {
    position: absolute;
    height: 650px;
    width: 650px;
    border-radius: 999px;
    top: 20px;
    left: 20px;
    display: flex;
    animation: 200s linear infinite rotation;
    animation-play-state: running;
}

@keyframes rotation{
    0%{ transform:rotate(0);}
    100%{ transform:rotate(360deg); }
}

.hue-circle {
    /* それぞれの円のサイズ */
    height: 100px;
    width: 100px;
    position: relative;
    border-radius: 999px;
    top: 0px;
    right: 0px;
}

.hue-dot {
    height: 75%;
    width: 75%;
    top: 288px;
    left: 575px;
    transform-origin: -250px center;
    border-radius: 999px;
    position: absolute;
}

.red {transform: rotate(0deg);}
.brown {transform: rotate(-30deg);}
.orange {transform: rotate(-60deg);}
.beige {transform: rotate(-90deg);}
.yellow {transform: rotate(-120deg);}
.green {transform: rotate(-150deg);}
.blue {transform: rotate(-180deg);}
.purple {transform: rotate(-210deg);}
.other {transform: rotate(-240deg);}
.black {transform: rotate(-270deg);}
.white {transform: rotate(-300deg);}
.pink {transform: rotate(-330deg);}

.color-circle:hover {transform: scale(1.2);}

.color-circle {
    transition-duration: .4s; 
    border-radius: 50%;
    line-height: 0px;
    height: 100%;
    width: 100%;
    border-style: none;
    &:active{
        transform: scale(.95);
       }
}/*パレットのそれぞれの玉*/

.color-1 {background: linear-gradient(90deg, rgba(255, 76, 76, 1), rgba(255, 0, 0, 1) 50%, rgba(166, 0, 0, 1) 100%);}       /*赤*/
.color-2 {background: linear-gradient(90deg, rgba(255, 138, 42, 1), rgba(196, 89, 0, 1) 50%, rgba(127, 64, 0, 1) 100%);}      /*茶*/
.color-3 {background: linear-gradient(90deg, rgba(255, 188, 103, 1), rgba(215, 127, 0, 1) 100%, rgba(255, 165, 0, 1) 50%);}      /*オレンジ*/
.color-4 {background: linear-gradient(90deg, rgba(237, 227, 215, 1), rgba(196, 159, 104, 1) 100%, rgba(255, 217, 154, 1) 50%);}      /*ベージュ*/
.color-5 {background: linear-gradient(90deg, rgba(255, 255, 122, 1), rgba(222, 222, 0, 1) 100%, rgba(255, 255, 0, 1) 50%);}      /*黄*/
.color-6 {background: linear-gradient(90deg, rgba(96, 255, 104, 1), rgba(0, 171, 13, 1) 100%, rgba(0, 255, 77, 1) 50%);}                 /*緑*/
.color-7 {background: linear-gradient(90deg, rgba(0, 190, 255, 1), rgba(0, 0, 173, 1) 100%, rgba(0, 0, 255, 1) 50%);}     /*青*/
.color-8 {background: linear-gradient(90deg, rgba(255, 152, 255, 1), rgba(176, 0, 176, 1) 100%, rgba(255, 0, 255, 1) 50%);}     /*紫*/
.color-9 {background: linear-gradient(90deg, rgba(191, 191, 191, 1),rgba(230, 180, 34, 1));}                 /*その他*/
.color-10 {background: linear-gradient(90deg, rgba(120, 120, 120, 1), rgba(0, 0, 0, 1) 100%, rgba(45, 45, 45, 1) 50%);}                   /*黒*/
.color-11 {background: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(230, 230, 230, 1) 50%, rgba(210, 210, 210, 1) 98%, rgba(255, 255, 255, 1));}                   /*白*/
.color-12 {background: linear-gradient(90deg, rgba(255, 146, 217, 1), rgba(255, 0, 128, 1) 50%, rgba(183, 0, 87, 1));}    /*ピンク*/

@keyframes fadeDownAnime{
    from {
        opacity: 0;
        transform: translateY(-25px);
    }to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeDownAnime-out{
    from {
        opacity: 1;
        transform: translateY(0px);
    }to{
      opacity: 0;
      transform: translateY(25px);
    }
}

@keyframes fadeout-ws{
    from {
        opacity: 1;
        transform: translateY(0px);
    }to{
        opacity: 0;
        transform: translateY(0px);
    }
}

.word-circle {
    position: absolute;
    border-radius: 50%;
    width: 400px;
    height:400px;
    top: 155px;
    left: 155px;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 50px;
    display: none;
    opacity: 0;
    pointer-events: none;
}

.wordh1-white {
    font-size: 30px;
    font-weight: bold;
    color: antiquewhite;
    /* background-color: aqua; */
    margin: 0px;
}

.word-white {
    font-size: 15px;
    font-weight: bold;
    color: antiquewhite;
    /* background-color: pink; */
    margin: 0px;
    height: 25px;
}

.wordh1-black {
    font-size: 30px;
    font-weight: bold;
    color: rgb(45, 24, 0);
    margin: 0px;
}

.word-black {
    font-size: 15px;
    font-weight: bold;
    color: rgb(45, 24, 0);
    margin: 0px;
    height: 25px;
}

.word-content {
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.yajirusi {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 500px;
    left: 350px;
    opacity: 0;
    transform: rotate(180deg);
    transform: translate(-50%, -50%);
    transition-duration: .4s; 
    -webkit-user-drag: none;
    /* background-color: black; */
    &:hover {
        transform: translate(-50%, -50%) scale(1.1);
    }
    &:active {
        transform: translate(-50%, -50%) scale(.95);
       }
}

.select-banner {
    position: absolute;
    left: 50%;
    top: 130px;
    transform: translate(-50%, -50%);
    background-color: rgb(253, 213, 242);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(57, 57, 57);
}

.select-banner span{
    display:inline-block;
    white-space:nowrap;
}

.color-select {
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: rgb(50, 50, 50);
    left: 355px;
    top: 350px;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    display: flex;
    opacity: 0;
}

@keyframes fadein{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.select-color {
    position: absolute;
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
}

.select-color:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
    transform: translateY(-0.1875em);
}

.select-color:active {
    transform: translateY(0);
   }

#select-color1 {
    top: 0;
    left: 0;
}

#select-color2 {
    top: 0;
    left: 100px;
}

#select-color3 {
    top: 0;
    left: 200px;
}

#select-color4 {
    top: 100px;
    left: 0;
}

#select-color5 {
    top: 100px;
    left: 100px;
}

#select-color6 {
    top: 100px;
    left: 200px;
}

#color-name {
    position: absolute;
    top: 175px;
    left: 250px;
    width: 200px;
    height: 50px;
    background-color: rgb(50, 50, 50);;
    border-radius: 50px;
    opacity: 0;
    color: antiquewhite;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
}

.select-color-name {
    text-align: center;
    padding: 15px 0;
}

@keyframes fadein-from-left{
    from {
        opacity: 0;
        transform: translateX(-25px);
    }to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeout-to-right{
    from {
        opacity: 1;
        transform: translateX(0px);
    }to{
      opacity: 0;
      transform: translateX(25px);
    }
}

.matching-color-palette {
    position: absolute;
    top: 40%;
    right: 25px;
    transform: translateY(-50%);
    display: flex;
    flex-wrap: wrap;
    width: 220px;
}

.matching-colors {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    margin: 5px;
    box-sizing: border-box;
    background-color: #FFF;
}

.matching-colors:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
    transform: translateY(-0.1875em);
}

.matching-colors:active {
    transform: translateY(0);
}

/* #matching-color1 {
    background-color: #000;
} */

.girl-parts {
    position: absolute;
    top: 30px;
    right: 400px;
    width: 25%;
    height: auto;
    display: block;
}

/* .fashion {
    position: absolute;
    top: 30px;
    right: 410px;
} */

.shoes-color-palette {
    position: absolute;
    bottom: 0%;
    right: 16%;
    transform: translateY(-50%);
    display: flex;
    flex-wrap: wrap;
    width: 220px;
}

.shoes-colors {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    margin: 5px;
    box-sizing: border-box;
    background-color: #FFF;
}

.shoes-colors:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
    transform: translateY(-0.1875em);
}

.shoes-colors:active {
    transform: translateY(0);
}

#shoes-color1 {
    background-color: #4C4948;
}

#shoes-color2 {
    background-color: #fff;
}

#shoes-color3 {
    background-color: #EEDCB3;
}

.logos-parts {
    position: absolute;
    bottom: -0%;
    right: 4%;
    width: 8%;
    height: auto;
    display: block;
}

#shirts-logo {
    top: 460px;
    right: 70px;
}

#shirts-logo:hover {
    transform: translateY(-0.1875em);
}

#shirts-logo:active {
    transform: translateY(0);
}

#bottoms-logo {
    top: 575px;
    right: 70px;
}

#bottoms-logo:hover {
    transform: translateY(-0.1875em);
}

#bottoms-logo:active {
    transform: translateY(0);
}

.change-button {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 0px;
    box-sizing: border-box;
    background-color: #FFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    cursor: pointer;
}

.change-button:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
    transform: translate(-50%, -55%);
    /* transform: translateY(-0.5em); */
}

.change-button:active {
    transform: translate(-50%, -50%);
    /* transform: translateY(0); */
}

.change {
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;
    height: 100%;
	-webkit-user-drag: none;
}

.current {
    position: absolute;
    width: 75px;
    height: 75px;
    /* background: #ace7f2; */
    transform: rotate(-30deg);
    border: 0;
    border-top: 2px solid #dde6f3;
    margin: 0;
    padding: 0;
}

.pointer-button {
    position: absolute;
    width: 45px;
    height: 35px;
    background-color: rgba(0,0,0,0);
    top: 5%;
    left: 85%;
    display: inline-block;
    cursor: pointer;
    border: 0;
}


.pointer {
    width: 100%;
    height: 100%;
	-webkit-user-drag: none;
}



#current-shirts {
    right: 440px;
    top: 170px;
}

#current-skirts {
    right: 440px;
    bottom: 200px;
}

.current-color-name-content {
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: #f8ebe8;
    border-radius: 50px;
    opacity: 1;
    color: rgb(50, 50, 50);
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    margin: 0 auto;
}

#current-shirts-name-content {
    top: 125px;
    right: 275px;
}

#current-skirts-name-content {
    bottom: 275px;
    right: 275px;
}

.current-color-name {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: aqua; */
    width: 200px;
}

.home-button {
        position: absolute;
        width: 45px;
        height: 35x;
        background-color: rgba(0,0,0,0);
        top: 1%;
        left: 1%;
        display: inline-block;
        cursor: pointer;
        border: 0;
}

.home {
    width: 100%;
    height: 100%;
	-webkit-user-drag: none;
}

.home-button:hover {
    transform: translateY(-0.1875em);
}

.home-button:active {
    transform: translateY(0);
   }

.keep-button {
    position: absolute;
    width: 45px;
    height: 35px;
    background-color: rgba(0,0,0,0);
    top: 5%;
    left: 85%;
    display: inline-block;
    cursor: pointer;
    border: 0;
}


.keep {
    width: 100%;
    height: 100%;
	-webkit-user-drag: none;
}

.keep-button:hover {
    transform: translateY(-0.1875em);
}

.keep-button:active {
    transform: translateY(0);
   }

.log-button {
    position: absolute;
    width: 45px;
    height: 35px;
    background-color: rgba(0,0,0,0);
    top: 5%;
    left: 90%;
    display: inline-block;
    cursor: pointer;
    border: 0;

}

.log {
    width: 100%;
    height: 100%;
	-webkit-user-drag: none;
}

.log-button:hover {
    transform: translateY(-0.1875em);
}

.log-button:active {
    transform: translateY(0);
}

/* p {
    font-family: ;
} */

#center-container {
    position: absolute;
    top: 27%;
    right: 32%;
    z-index: 1;
}

#center-container2 {
    position: absolute;
    top: 52%;
    right: 32%;
    z-index: 1;
}

#sparkle-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#sparkle-button2 {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#sparkle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 10%;
    pointer-events: none;
}

.sparkle {
    position: absolute;
    width: var(--size);
    height: var(--size);
    background-color: #ffff00;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    animation: sparkle-animation 0.8s cubic-bezier(0.2, 0.8, 0.3, 1) forwards;
}

@keyframes sparkle-animation {
    from {
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }
    to {
        opacity: 0;
        transform: translate(var(--x), var(--y)) scale(2);
    }
}

.audio-button {
    position: absolute;
    top: 1%;
    right: 2%;
}

#play-button {
    height: 100px;
    width: 100px;
}

#play-button:hover {
    transform: translateY(-0.1875em);
}
  
#play-button:active {
    transform: translateY(0);
}

.color-picker-content {
    position: absolute;
    bottom: 1%;
    left: 2%;
}
